BED format files are just a special kind of tab-delimited data file, and so we can read them in using Pandas.

In [1]:
import pandas as pd

We can read in this data using the `read_csv()` function in Pandas, with `sep="\t"` because it's tab-delimited.

Reading in the peaks file as a tab-delimited file will use the first line for column names by default.

In [4]:
peaks = pd.read_csv("ChIP_1M_peaks.bed", sep="\t")
peaks.head()

    chrI   72280   73586  MACS_peak_1   70.72
0   chrI  100877  101489  MACS_peak_2   74.70
1   chrI  141083  142278  MACS_peak_3  574.05
2   chrI  222800  223346  MACS_peak_4   90.32
3  chrII  137479  138048  MACS_peak_5   71.61
4  chrII  145391  146109  MACS_peak_6  112.91

We can use `header=None` to indicate that there is no header.

In [5]:
peaks = pd.read_csv("ChIP_1M_peaks.bed", sep="\t", header=None)
peaks.head()

       0       1       2            3       4
0   chrI   72280   73586  MACS_peak_1   70.72
1   chrI  100877  101489  MACS_peak_2   74.70
2   chrI  141083  142278  MACS_peak_3  574.05
3   chrI  222800  223346  MACS_peak_4   90.32
4  chrII  137479  138048  MACS_peak_5   71.61

This gives us numbered columns. We can give the columns our own names instead with the `names=[...]` parameter.

The first five columns of a BED file are:
1. `chrom` is the name of the chromosome
1. `start` is the starting position of the feature in 0-based coordinates
1. `end` is the ending position of the feature in Python style -- the first position _after_ the end
1. `name` is the name of the feature
1. `score` can be used to provide a numeric score. MACS uses this to score peaks.

In [14]:
peaks = pd.read_csv("ChIP_1M_peaks.bed", sep="\t", header=None,
                    names=["chrom", "start", "end", "name", "score"])
peaks.head()

   chrom   start     end         name   score
0   chrI   72280   73586  MACS_peak_1   70.72
1   chrI  100877  101489  MACS_peak_2   74.70
2   chrI  141083  142278  MACS_peak_3  574.05
3   chrI  222800  223346  MACS_peak_4   90.32
4  chrII  137479  138048  MACS_peak_5   71.61

The peaks are listed in order of their genomic position. We want to look at the "best" peaks, and so we want to sort them by score, with the highest score first.

In [17]:
peaks_sorted = peaks.sort_values(by="score", ascending=False)

We can also look at the "summits", which are 1-base-wide features within the peaks.

In [18]:
summits = pd.read_csv("ChIP_1M_summits.bed", sep="\t", header=None,
                      names=["chrom", "start", "end", "name", "score"])
summits.head()

   chrom   start     end         name  score
0   chrI   73174   73175  MACS_peak_1   13.0
1   chrI  101289  101290  MACS_peak_2   19.0
2   chrI  141772  141773  MACS_peak_3  105.0
3   chrI  223145  223146  MACS_peak_4   20.0
4  chrII  137670  137671  MACS_peak_5   17.0

In [19]:
!pip3 install pybedtools

Collecting pybedtools
Collecting pysam (from pybedtools)
Requirement already satisfied: six in /srv/app/venv/lib/python3.6/site-packages (from pybedtools)
Installing collected packages: pysam, pybedtools
Successfully installed pybedtools-0.8.0 pysam-0.15.3

In [20]:
import pybedtools
pybedtools.helpers.set_bedtools_path("/home/jovyan/mcb200-2019/bedtools2/bin")

In [22]:
summits_bed = pybedtools.BedTool.from_dataframe(summits)

In [23]:
summits_bed

In [24]:
print(summits_bed)

chrI	73174	73175	MACS_peak_1	13.0
chrI	101289	101290	MACS_peak_2	19.0
chrI	141772	141773	MACS_peak_3	105.0
chrI	223145	223146	MACS_peak_4	20.0
chrII	137670	137671	MACS_peak_5	17.0
chrII	145916	145917	MACS_peak_6	25.0
chrII	444847	444848	MACS_peak_7	29.0
chrII	477469	477470	MACS_peak_8	31.0
chrII	478725	478726	MACS_peak_9	19.0
chrIII	259	260	MACS_peak_10	26.0
chrIII	57066	57067	MACS_peak_11	20.0
chrIII	90767	90768	MACS_peak_12	13.0
chrIII	137449	137450	MACS_peak_13	19.0
chrIII	227880	227881	MACS_peak_14	12.0
chrIV	149140	149141	MACS_peak_15	13.0
chrIV	369270	369271	MACS_peak_16	19.0
chrIV	417047	417048	MACS_peak_17	17.0
chrIV	465445	465446	MACS_peak_18	16.0
chrIV	678033	678034	MACS_peak_19	19.0
chrIV	806357	806358	MACS_peak_20	23.0
chrIV	892702	892703	MACS_peak_21	26.0
chrIV	974483	974484	MACS_peak_22	30.0
chrIV	1165315	1165316	MACS_peak_23	16.0
chrIV	1357491	1357492	MACS_peak_24	29.0
chrIX	325731	325732	MACS_peak_25	11.0
chrIX	387157	387158	MACS_peak_26	32.0
chrV	86498	86499	MACS_peak_27	35.0
chrV	116105	116106	MACS_peak_28	16.0
chrV	364353	364354	MACS_peak_29	34.0
chrVI	31287	31288	MACS_peak_30	11.0
chrVI	106303	106304	MACS_peak_31	17.0
chrVI	210370	210371	MACS_peak_32	53.0
chrVII	69368	69369	MACS_peak_33	26.0
chrVII	80617	80618	MACS_peak_34	32.0
chrVII	369354	369355	MACS_peak_35	31.0
chrVII	480582	480583	MACS_peak_36	13.0
chrVII	555995	555996	MACS_peak_37	35.0
chrVII	772132	772133	MACS_peak_38	48.0
chrVII	882643	882644	MACS_peak_39	15.0
chrVII	915019	915020	MACS_peak_40	59.0
chrVIII	212798	212799	MACS_peak_41	19.0
chrVIII	236971	236972	MACS_peak_42	35.0
chrVIII	451978	451979	MACS_peak_43	13.0
chrVIII	556861	556862	MACS_peak_44	24.0
chrX	121709	121710	MACS_peak_45	15.0
chrX	139680	139681	MACS_peak_46	12.0
chrX	381065	381066	MACS_peak_47	16.0
chrX	519275	519276	MACS_peak_48	23.0
chrX	521871	521872	MACS_peak_49	26.0
chrX	640018	640019	MACS_peak_50	32.0
chrXI	22058	22059	MACS_peak_51	29.0
chrXI	326576	326577	MACS_peak_52	13.0
chrXII	11231	11232	MACS_peak_53	12.0
chrXII	48872	48873	MACS_peak_54	16.0
chrXII	65575	65576	MACS_peak_55	30.0
chrXII	88366	88367	MACS_peak_56	45.0
chrXII	97708	97709	MACS_peak_57	51.0
chrXII	233030	233031	MACS_peak_58	16.0
chrXII	369903	369904	MACS_peak_59	12.0
chrXII	490220	490221	MACS_peak_60	86.0
chrXII	823474	823475	MACS_peak_61	37.0
chrXII	838519	838520	MACS_peak_62	12.0
chrXII	1065054	1065055	MACS_peak_63	15.0
chrXIII	24669	24670	MACS_peak_64	11.0
chrXIII	346116	346117	MACS_peak_65	15.0
chrXIII	632168	632169	MACS_peak_66	21.0
chrXIII	822604	822605	MACS_peak_67	20.0
chrXIV	359362	359363	MACS_peak_68	39.0
chrXIV	415075	415076	MACS_peak_69	22.0
chrXIV	481161	481162	MACS_peak_70	18.0
chrXIV	507361	507362	MACS_peak_71	19.0
chrXIV	619905	619906	MACS_peak_72	45.0
chrXIV	763195	763196	MACS_peak_73	13.0
chrXV	160020	160021	MACS_peak_74	13.0
chrXV	170645	170646	MACS_peak_75	22.0
chrXV	371020	371021	MACS_peak_76	14.0
chrXV	380853	380854	MACS_peak_77	19.0
chrXV	430179	430180	MACS_peak_78	25.0
chrXV	445348	445349	MACS_peak_79	16.0
chrXV	522822	522823	MACS_peak_80	14.0
chrXV	722827	722828	MACS_peak_81	16.0
chrXV	877913	877914	MACS_peak_82	31.0
chrXV	978650	978651	MACS_peak_83	16.0
chrXVI	75097	75098	MACS_peak_84	40.0
chrXVI	98886	98887	MACS_peak_85	28.0
chrXVI	345902	345903	MACS_peak_86	12.0
chrXVI	352478	352479	MACS_peak_87	18.0
chrXVI	701095	701096	MACS_peak_88	13.0